---
layout: "base.njk"
title: "Студия Евгения Лепехина"
---

<main>
    <section class="page-description">
        <div class="page-description__wrapper wrapper">
            <h1 class="page-description__title main-title">Рассылка</h1>
            <p class="page-description__text">Бесплатная рассылка о&nbsp;том, Как выбрать <nobr>дизайн-студию</nobr> и&nbsp;не&nbsp;потерять деньги, нервы и&nbsp;время впустую</p>
        </div>
    </section>
    <section class="mailing-list">
        <h2 class="visually-hidden">Наш чек-лист для выбора студии</h2>
        <div class="mailing-list__wrapper wrapper">
            <div class="mailing-list__content">
                <h3 class="mailing-list__title">Что происходит</h3>
                <p class="mailing-list__text">Сегодня бизнес в&nbsp;России находится в&nbsp;стрессе и&nbsp;вынужден действовать в&nbsp;условиях максимальной неопределённости. Никто не&nbsp;знает, с&nbsp;какими ограничениями ему придётся столкнуться завтра: планировать и&nbsp;прогнозировать <nobr>что-либо</nobr> в&nbsp;такой ситуации невероятно сложно.</p>
                <p class="mailing-list__text">Мы&nbsp;хотим помочь бизнесу. За&nbsp;пять лет работы мы&nbsp;изучили ключевые опасения клиентов и&nbsp;собрали их&nbsp;в&nbsp;<nobr>чек-лист</nobr>, который поможет вам выбрать надёжную <nobr>дизайн-студию</nobr> и&nbsp;эффективно решить свои задачи с&nbsp;помощью дизайна.</p>
                <p class="mailing-list__text">Наш <nobr>чек-лист</nobr>&nbsp;&mdash; незаменимый помощник для предпринимателей, руководителей компаний, маркетологов и&nbsp;директоров по&nbsp;развитию. По&nbsp;нему вы&nbsp;можете проверить любую <nobr>дизайн-студию</nobr>, понять, подходит она вам и&nbsp;сможет&nbsp;ли решить ближайшие задачи.</p>
            </div>
            <div class="mailing-list__content">
                <h3 class="mailing-list__title">Почему выбрать студию сложно</h3>
                <ul>
                    <li class="mailing-list__text">Слишком большой разброс цен. Можно купить логотип за десять тысяч рублей, а можно за миллион.</li>
                    <li class="mailing-list__text">Непонятно, как убедиться, что финальный результат будет соответствовать ожиданиям.</li>
                    <li class="mailing-list__text">На сайтах дизайн-студий много красивых слов, все пишут одно и то&nbsp;же.</li>
                    <li class="mailing-list__text">Все обещают в срок, но почти никто не успевает</li>
                </ul>
            </div>
            <div class="mailing-list__content">
                <h3 class="mailing-list__title">Что в первом письме</h3>
                <p class="mailing-list__text">
                    <nobr>ПДФ-документ</nobr> с&nbsp;перечнем критериев, по&nbsp;которым следует проверить <nobr>дизайн-студию</nobr> или креативное агентство, прежде чем сказать &laquo;да&raquo;, подписать договор и&nbsp;перевести предоплату.
                </p>
                <p class="mailing-list__aside">здесь будет текст сноски на&nbsp;полях и&nbsp;всякие продающие слова маркетолога</p>
            </div>
            <div class="mailing-list__content">
                <h3 class="mailing-list__title">Что в первом письме</h3>
                <p class="mailing-list__text">
                    <nobr>Чек-лист</nobr> небесплатный. В&nbsp;качестве платы мы&nbsp;принимаем подписку на&nbsp;нашу рассылку, в&nbsp;которой будем делиться новостями студии, рассказывать о&nbsp;новых продуктах и&nbsp;анонсировать наши платные курсы, которые сейчас разрабатываем.
                </p>
            </div>
        </div>
    </section>
    <section class="subscribe-list">
        <div class="subscribe-list__wrapper wrapper">
            <h2 class="subscribe-list__title title">Получить чек-лист</h2>
            <p class="subscribe-list__text">Введите электронную почту, на&nbsp;которую вы&nbsp;хотите получить <nobr>чек-лист</nobr> и&nbsp;нажмите &laquo;Подписаться&raquo;. Письмо со&nbsp;ссылкой на&nbsp;скачивание документа придёт сразу. Если во&nbsp;&laquo;Входящих&raquo; пусто, проверьте папку &laquo;Спам&raquo;.</p>
            <form class="subscribe-list__form form" method="get" action="https://echo.htmlacademy.ru/">
                <p class="form__item">
                    <input class="form__field" data-validate="email" type="email" id="email" name="email" aria-label="Введите ваш email" pattern="^(?:[-a-z\d\+\*\/\?!{}~_%&'=^$#]+(?:\.[-a-z\d\+\*\/\?!{}~_%&'=^$#]+)*)@(?:[-a-z\d_]+\.){1,60}[a-z]{2,6}$" placeholder=" " required>
                    <label for="email">Электронная почта</label>
                </p>
                <button type="submit" class="subscribe-list__button form__button-submit">Получить чек-лист</button>
            </form>
        </div>
    </section>
    <section class="other-consultations">
        <div class="other-consultations__wrapper wrapper">
            <h2 class="other-consultations__title title">Если чек-листа недостаточно</h2>
            <p class="other-consultations__text">Разговор с&nbsp;хорошим психотерапевтом может сэкономить гору сил и&nbsp;нервов. Мы&nbsp;<nobr>чем-то</nobr> похожи на&nbsp;психологов, только в&nbsp;сфере дизайна. Наш опыт, навыки и&nbsp;знания помогут вам сохранить деньги и&nbsp;направить их&nbsp;на&nbsp;решение первостепенных и&nbsp;жизненно важных задач.
            <p class="other-consultations__text">Если вы&nbsp;не&nbsp;знаете, с&nbsp;чего начать работу и&nbsp;хотите подстраховаться, мы&nbsp;предлагаем три варианта для старта:</p>
            </p>
        </div>
        <div class="other-consultations__list-wrapper">
            <ul class="wrapper">
                <li class="other-consultations__item">
                    <h3>Консультация</h3>
                    <p><span>Когда полезна.</span> Если у&nbsp;вас нет понимания, с&nbsp;чего начать редизайн, как запустить продукт, нужен&nbsp;ли вам сайт или лучше развивать социальные сети, мы&nbsp;поможем разобраться. На&nbsp;платной консультации наш менеджер и&nbsp;<nobr>арт-директор</nobr> ответят на&nbsp;ваши вопросы, расскажут о&nbsp;нюансах <nobr>веб-разработки</nobr>, предупредят о&nbsp;рисках и&nbsp;сложностях отдельных решений, сориентируют по&nbsp;бюджету и&nbsp;срокам.</p>
                    <p><span>Кому подходит.</span> Руководителям бизнеса, предпринимателям, директорам по&nbsp;развитию, маркетологам, исполнительным директорам, эйчарам и&nbsp;другим управленцам.</p>
                    <p><span>Результат.</span> Часовая консультация с&nbsp;менеджером и&nbsp;<nobr>арт-директором</nobr> студии</p>
                    <p><span>Стоимость.</span> 10&nbsp;000 &#8381;</p>
                    <button class="other-consultations__button button" type="button">Заказать консультацию</button>
                </li>
                <li class="other-consultations__item">
                    <h3>Аудит бренда</h3>
                    <p><span>Когда необходимо.</span> Если вы&nbsp;более <nobr>пяти-семи</nobr> лет не&nbsp;обновляли сайт, логотип и&nbsp;бренд, с&nbsp;высокой вероятностью, он&nbsp;устарел или уже не&nbsp;соответствует задачам и&nbsp;потребностям вашего бизнеса сегодня. На&nbsp;встрече мы&nbsp;разберём ошибки в&nbsp;позиционировании, подсветим проблемные и&nbsp;слабые места в&nbsp;процессах, а&nbsp;также составим список задач, которые нужно решить по&nbsp;итогу аудита.</p>
                    <p><span>Кому подходит.</span> Компаниям, которые давно не&nbsp;обновляли свой бренд и&nbsp;хотят понять, что можно улучшить, доработать. Также подходит тем, кто недавно провёл ребрендинг и&nbsp;хочет получить независимую оценку.</p>
                    <p><span>Результат.</span> Гугл-документ</nobr> с&nbsp;перечнем проблем и&nbsp;рекомендаций по&nbsp;их&nbsp;решению</p>
                    <p><span>Стоимость.</span>15&nbsp;000 &#8381;</p>
                    <button class="other-consultations__button button" type="button">Заказать аудит</button>
                </li>
                <li class="other-consultations__item">
                    <h3>Понимание задачи</h3>
                    <p><span>Когда необходимо.</span> Вместе с&nbsp;вами составим понимание задачи, продумаем варианты её решения, распишем поэтапный план проекта. В&nbsp;итоге, вы&nbsp;получите <nobr>Гугл-документ</nobr> с&nbsp;готовым планом работы и&nbsp;потенциальными решениями. С&nbsp;этим документом вам будет легче выбрать исполнителя под вашу задачу и&nbsp;не&nbsp;придётся объяснять на&nbsp;каждой встрече, что нужно сделать.</p>
                    <p><span>Кому подходит.</span> Руководителям бизнеса, предпринимателям, директорам по&nbsp;развитию, маркетологам и&nbsp;всем, кто отвечает за&nbsp;развитие бизнеса.</p>
                    <p><span>Результат.</span> <nobr>Гугл-документ</nobr> с&nbsp;пониманием задачи и&nbsp;поэтапным планом работ</p>
                    <p><span>Стоимость.</span> 30&nbsp;000 &#8381;</p>
                    <button class="other-consultations__button button" type="button">Оставить заявку</button>
                </li>
            </ul>
        </div>
    </section>
</main>