:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --border-link: rgba(0, 0, 0, 0.15);
    --input-border: rgba(0, 0, 0, 0.2);
    --hover-link: #f8582b;
    --hover-border-link: rgba(97%, 35%, 17%, 0.15);

    /* Отступы */
    --desctop-padding: 30px;
    --mobile-padding: 15px;

    /* Шрифты */
    --apoc-family: "Apoc", "Montserrat", serif;
    --commons-family: "TT Commons Pro Expanded", "Roboto", sans-serif;
    --base-size: 19px;
    --base-height: 30px;
    --project-link-size: 39px;
    --project-link-height: 45px;
    --description-project-size: 25px;
    --description-project-height: 35px;
    --large-size: 80px;
    --large-height: 90px;
    --commons-size: 14px;
    --commons-height: 20px;
    --featured-size: 32px;
    --team-name-size: 24px;
    --mobile-menu-size: 28px;
    --mobile-menu-height: 40px;
}

@font-face {
    font-family: "Apoc";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Apoc-Regular-Web.woff2") format("woff2"), url("../fonts/Apoc-Regular-Web.woff") format("woff");
}

@font-face {
    font-family: "TT Commons Pro Expanded";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/TT-Commons.woff2") format("woff2"), url("../fonts/TT-Commons.woff") format("woff");
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    font-family: var(--apoc-family);
    font-size: var(--base-size);
    line-height: var(--base-height);
    position: relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding-left: var(--desctop-padding);
    padding-right: var(--desctop-padding);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .wrapper {
        padding-left: var(--mobile-padding);
        padding-right: var(--mobile-padding);
    }
}
/* .offer {
} */

.offer {
    position: sticky;
    z-index: 5;
    bottom: 30px;
    padding-right: 40px;
}

.offer-button {
    display: flex;
    padding: 10px 30px;
    border-radius: 10px;
    background: var(--basic-black);
    color: var(--basic-white);
    border: none;
    outline: none;
    margin-left: auto;
    line-height: var(--base-height);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.offer-button:hover {
    animation: gradient 7s ease-in-out infinite;
    background: linear-gradient(90deg, #f8582b 16.24%, #ff9900 79.43%);
    background-size: 200% 200%;
}

.page-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(179.68deg, #ffffff -170.58%, rgba(255, 255, 255, 0.8) -103%, rgba(255, 255, 255, 0) 99.72%);
}

.page-header--light {
    background: linear-gradient(180deg, #000000 -171.82%, rgba(0, 0, 0, 0.8) -99.62%, rgba(0, 0, 0, 0) 100%);
}

.page-header--light .page-header__link {
    color: var(--basic-white);
}

.page-header--light .page-header__link:not([href]) {
    color: rgba(255, 255, 255, 0.5);
}

.page-header--light .page-header__logo {
    filter: contrast(0.1) brightness(300%);
}

.page-header__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 21px 0;
}

.page-header__logo {
    margin-right: 49px;
}

.page-header__navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.page-header__open-menu {
    display: none;
}

@media (max-width: 768px) {
    .page-header {
        background: linear-gradient(182.19deg, #B8CB91 1.84%, rgba(184, 203, 145, 0.82) 36.45%, rgba(184, 203, 145, 0) 98.16%);
    }

    .page-header__wrapper {
        flex-direction: column;
        padding: 16px 0;
    }

    .page-header__menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .page-header__navigation {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 101px;
        background: linear-gradient(182.19deg, #B8CB91 1.84%, rgba(184, 203, 145, 0.82) 36.45%, rgba(184, 203, 145, 0) 98.16%);
        background-color: var(--basic-white);
        z-index: -1;
        transform: translateX(-100%);
        transition-duration: 500ms;
        width: 100%;
    }
    
    .page-header__navigation-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    

    .page-header__logo {
        display: none;
    }

    .page-header__open-menu {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url('/img/closed.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(45deg);
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition-duration: 500ms;
    }

    .page-header__link {
        font-family: var(--commons-family);
        font-size: var(--mobile-menu-size);
        line-height: var(--mobile-menu-height);
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .page-header--open  .page-header__link {
        color: var(--basic-black);
    }
}
.page-header__link {
    text-decoration: none;
    outline: none;
    color: var(--basic-black);
}

.page-header__link:not([href]) {
    color: rgba(0, 0, 0, 0.2);
}

.page-header--open .page-header__open-menu {
    transform: rotate(0);
}

.page-header--open .page-header__navigation {
    transform: translateX(0);
}

/* Promo */
.promo__wrapper {
    padding: 0;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55.5%;
    background-color: var(--basic-black);
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}

.promo__text {
    max-width: 690px;
    padding: 0 var(--desctop-padding);
}

@media (max-width: 768px) {
    .promo__text {
        padding: 0 var(--mobile-padding);
    }

    .project-description__text {
        display: none;
    }
}

.project-description {
    padding-top: 31px;
}

.project-description__link {
    text-decoration: none;
    border-bottom: 1px solid var(--border-link);
    transition-property: color, fill, border-bottom-color;
    transition-duration: 300ms;
}

.project-description__title {
    font-size: var(--project-link-size);
    line-height: var(--project-link-height);
    color: var(--basic-black);
}

.project-description__link:hover {
    color: var(--hover-link);
    border-color: var(--hover-border-link);
}

.project-description__text {
    margin: 0;
    padding-top: 16px;
}

/* Проекты на главной странице */
.main-projects__wrapper {
    padding-top: 58px;
}

.main-projects__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 56px;
    padding-bottom: 120px;
}

.main-projects__picture {
    transition: all ease-in-out 800ms;
}

.main-projects__link {
    text-decoration: none;
    color: var(--basic-black);
}

.main-projects__picture-wrapper {
    overflow: hidden;
    display: inline-flex;
}

.main-projects__title {
    display: inline;
    border-bottom: 1px solid var(--border-link);
    font-size: var(--description-project-size);
    line-height: var(--description-project-height);
    transition-property: color, fill, border-bottom-color;
    transition-duration: 400ms;
}

.main-projects__link:hover .main-projects__picture {
    transform: scale(1.2);
}
.main-projects__link:hover .main-projects__title {
    color: var(--hover-link);
    border-color: var(--hover-border-link);
}

.main-projects__item:nth-of-type(5n) {
    grid-column: span 2;
    margin: 0 -30px;
}

.main-projects__item:nth-of-type(5n) img {
    width: 100%;
    height: auto;
}

.main-projects__item:nth-of-type(5n) .main-projects__description-wrapper {
    max-width: 680px;
    padding: 26px 30px 0;
}

.main-projects__description {
    margin-top: 0;
    margin-bottom: 0;
}

.main-projects__item:nth-of-type(5n) .main-projects__title {
    font-size: var(--project-link-size);
    line-height: var(--project-link-height);
    font-weight: 400;
}

.main-projects__item:nth-of-type(5n) .main-projects__description {
    font-size: var(--base-size);
    line-height: var(--base-height);
    padding-top: 16px;
}

@media (max-width: 768px) {
    .main-projects__list {
        grid-template-columns: 1fr;
    }

    .main-projects__item:nth-of-type(5n) {
        grid-column: 1;
        margin: 0;
    }

    .main-projects__title,
    .project-description__title,
    .main-projects__item:nth-of-type(5n) .main-projects__title  {
        font-size: var(--base-size);
        line-height: var(--base-height);
    }

    .main-projects__item:nth-of-type(5n) .main-projects__description-wrapper {
        padding: 0;
    }
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__wrapper {
    display: flex;
    padding-top: 60px;
    gap: 5px;
    padding-bottom: 30px;
}

.footer__wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 11px;
}

.footer__studio-label {
    flex-basis: 30%;
}

.footer__cantacts {
    flex-basis: 20%;
}

.footer__wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__link {
    text-decoration: none;
    color: var(--basic-black);
    border-bottom: 1px solid var(--border-link);
    transition-property: color, fill, border-bottom-color;
    transition-duration: 300ms;
}

.footer__link:hover {
    color: var(--hover-link);
    border-color: var(--hover-border-link);
}

.footer__copyright {
    max-width: 242px;
}

@media (max-width: 768px) {
    .footer__wrapper {
        flex-direction: column;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--basic-white);
    height: max-content;
    z-index: 5;
    overflow-y: auto;
    overscroll-behavior: contain;
    height: 100vh;
}

.popup--closed {
    display: none;
}

.popup__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.popup__button-close {
    position: absolute;
    top: 19px;
    right: 17px;
    width: 30px;
    height: 30px;
    background-image: url("../img/closed.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent;
    transition-duration: 1000ms;
}

.popup__button-close:hover,
.popup__button-close:focus {
    transform: scale(1.2) rotate(90deg);
}
.popup__aside {
    background: linear-gradient(90deg, #f8582b 16.24%, #ff9900 79.43%);
    overflow-y: hidden;
}

.popup__offer {
    position: relative;
    padding: 60px 30px;
    font-family: var(--apoc-family);
    background-color: white;
}

.popup__offer h2 {
    font-size: var(--large-size);
    line-height: var(--large-height);
    font-weight: 400;
    margin: 0;
    padding-bottom: 7px;
}

.popup__offer > p {
    padding-top: 22px;
    margin: 0;
    max-width: 680px;
    font-size: var(--base-size);
    line-height: var(--base-height);
}

.popup__order-form {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    padding-top: 31px;
}

.form__item {
    position: relative;
    margin-bottom: 0;
    margin-top: 19px;
}

.form__field,
.form__field + label {
    font-family: var(--apoc-family);
    font-size: var(--base-size);
    line-height: var(--base-height);
}

.form__field {
    width: 100%;
    min-height: 45px;
    border: none;
    border-bottom: 1px solid var(--input-border);
    padding-bottom: 0px;
    outline: none;
    height: auto;
    padding-top: 10px;
    box-sizing: border-box;
}

.form__field:placeholder-shown + label {
    color: #999;
    /* position: absolute; */
    left: 2px;
    top: 2.2em;
    transform: translateY(-100%);
    /* transition: transform 0.4s, color 0.4s; */
    /* pointer-events: none;
    transform-origin: top left; */
}

.form__field:focus + label,
.form__field + label {
    position: absolute;
    left: 2px;
    top: 1.5em;
    transition: transform 0.5s, color 0.4s;
    pointer-events: none;
    transform-origin: top left;
    transform: translateY(-100%) scale(0.5);
}

.form__field:focus {
    border-color: var(--hover-link);
}

.form__button-submit {
    width: max-content;
    background-color: var(--basic-black);
    border-radius: 10px;
    color: var(--basic-white);
    border: none;
    outline: none;
    min-height: 50px;
    padding: 5px 54px;
    margin-top: 30px;
    font-size: var(--base-size);
    line-height: var(--base-height);
}

.form__button-submit:hover,
.form__button-submit:focus {
    animation: gradient 5s ease-in-out infinite;
    background: linear-gradient(90deg, #f8582b 16.24%, #ff9900 79.43%);
    background-size: 200% 200%;
}

/* СТРАНИЦА ПРОЕКТА */

/* Навигация по проекту */

.project__navigation {
    padding-top: 54px;
}

.project__navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.project__navigation-link {
    color: var(--basic-black);
    text-decoration: none;
    padding-bottom: 2px;
}

.project__navigation-link:not([href]) {
    border-bottom: 1px solid var(--basic-black);
}

.project-footer__team-position,
.project-footer__data-title,
.project__navigation-link {
    text-transform: uppercase;
    margin: 0;
    font-family: var(--commons-family);
    font-size: var(--commons-size);
    line-height: var(--commons-height);
}

/* Заголовок проекта */

.project__description {
    display: flex;
    padding-top: 19px;
    gap: 20px;
    padding-bottom: 30px;
}

.project__description .project-description__title {
    flex-basis: 50%;
    font-weight: 400;
    margin: 0;
}

.project__description .project-description__text {
    flex-basis: 50%;
    margin: 0;
    padding-top: 0;
}

.project__picture {
    padding-top: 30px;
    padding-bottom: 52px;
}

.project__text-wrapper {
    max-width: 820px;
}

.project__text {
    margin: 0;
}

.project__text-wrapper--featured {
    max-width: 1100px;
    margin: 0 auto;
}

.project__text-wrapper--featured .project__text {
    font-size: var(--featured-size);
    line-height: var(--project-link-height);
}

.project__pictures-wrapper ul {
    list-style: none;
    padding: 30px 0 52px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project__large-picture {
    margin: 0 -30px;
    padding: 30px 0 52px;
}
.project-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.project-footer__team {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 60%;
    column-gap: 13px;
    row-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.project-footer__description {
    grid-column: span 2;
}

.project-footer__description p {
    margin: 0;
    padding-top: 10px;
}

.project-footer__team-name,
.project-footer__data {
    font-size: var(--team-name-size);
    line-height: var(--description-project-height);
    margin: 0;
    padding-top: 5px;
}

.project-footer__data-wrapper {
    flex-basis: 18%;
    padding-right: 10px;
}

/* Похожие проекты */

.similar-projects {
    padding-top: 120px;
}

.similar-projects__wrapper {
    border-top: 1px solid var(--basic-black);
}

.similar-projects__title {
    font-size: var(--large-size);
    line-height: var(--large-height);
    margin: 0;
    font-weight: 400;
    padding-top: 59px;
}

.similar-projects__list {
    padding-top: 30px;
}
