---
layout: "base.njk"
title: "Студия Евгения Лепехина"
---

<main>
    <section class="error-page">
        <div class="error-page__wrapper wrapper">
            <p>404</p>
            <h1 class="error-page__title">Упс, такой страницы не существует</h1>
        </div>
    </section>
</main>