<header class="header wrapper">
    <div class="header__wrapper">
        <a class="page-header__home"{% if path != 'home' %} href="{{ '/' | url }}"{% endif %}> <img class="page-header__logo" src="{{ '/img/logo-studio.svg' | url }}" width="231" height="40" alt="Лепёхин"></a>
        <nav class="page-header__navigation">
            <ul class="page-header__navigation">
                <li class="page-header__item">
                    <a class="page-header__link"{% if path == 'home' %} aria-current="page"{% else %} href="{{ '/' | url }}"{% endif %}>Новое</a>
                </li>
                {% for item in navigation.items %}
                <li class="page-header__item">
                    <a class="page-header__link"{% if item.url in page.url %} aria-current="page"{% else %} href="{{item.url}}"{% endif %}>{{item.text}}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        
    </div>
</header>