---
layout: "base.njk"
title: "Студия Евгения Лепехина"
---

<main>
    <h1 class="visually-hidden">Все проекты студии</h1>
    <section class="promo">
        <h2 class="visually-hidden">Айдентика кофейни Дисциплина</h2>
        <div class="promo__wrapper wrapper">
            <div class="promo__video-wrapper">
                <div class="promo__video video">
                    <picture>
                        <source type="image/webp" srcset="/img/Disciplena-CUP+stikers.webp">
                        <img class="video__media" src="/img/Disciplena-CUP+stikers.jpg" alt="Стикеры для кофейни дисциплина" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    
    <section class="project wrapper">
        <nav class="project__navigation">
            <ul class="project__navigation-list">
                <li>
                    <a class="project__navigation-link">Логотип</a>
                </li>
                <li>
                    <a class="project__navigation-link" href="#">Айдентика</a>
                </li>
                <li>
                    <a class="project__navigation-link" href="#">Сайт</a>
                </li>
                <li>
                    <a class="project__navigation-link" href="#">Соцсети</a>
                </li>
            </ul>
        </nav>
        <div class="project__description project-description">
            <h2 class="project-description__title">Стаканы и стикеры для кофейни «Дисциплина»</h2>
            <p class="project-description__text">Точка цвета&nbsp;&mdash; команда людей, которые любят фотоплёнку и&nbsp;оказывают полный спектр фотоуслуг.&nbsp;Они проявляет и&nbsp;сканирует более 200 катушек плёнки в&nbsp;день&nbsp;&mdash; это около 55&nbsp;000 катушек в&nbsp;год. Второй такой компании в&nbsp;России просто нет В&nbsp;студии сделали новый смелый и&nbsp;заряженный логотип, который поражает своей дерзостью и&nbsp;яркостью.</p>
        </div>
        <div class="project__picture">
            <picture>
                <source type="image/webp" srcset="/img/tochka-cveta-box.webp">
                <img src="/img/tochka-cveta-box.jpg" alt="Точка Цвета" loading="lazy">
            </picture>
        </div>
        <div class="project__text-wrapper">
            <p class="project__text">Отдельное внимание мы&nbsp;уделили шрифтовой части логотипа. Нам было важно согласовать знак с&nbsp;формой букв и&nbsp;сделать логотип узнаваемым даже без графической части. Так появилась идея добавить в&nbsp;форму букв очертания квадрата, а&nbsp;переходы сделать более плавными в&nbsp;местах крепления соединительных штрихов.</p>
        </div>
        <div class="project__picture">
            <picture>
                <source type="image/webp" srcset="/img/tochka-cveta-box.webp">
                <img src="/img/tochka-cveta-box.jpg" alt="Точка Цвета" loading="lazy">
            </picture>
        </div>
        <div class="project__text-wrapper">
            <p class="project__text">Конечно, мы&nbsp;не&nbsp;можем не&nbsp;рассказать подробнеене про букву &laquo;Т&raquo;. Все привыкли, что в&nbsp;кириллице это самая скучная и&nbsp;невыразительная буква. Нам хотелось оспорить это убеждение и&nbsp;показать, что кириллица может быть динамичной, современной, даже если логотип полностью состоит из&nbsp;строчных букв. Благодаря неровным ножкам в&nbsp;&laquo;Т&raquo; логотип не&nbsp;выглядит стерильным и&nbsp;консервативным.</p>
        </div>
        <div class="project__pictures-wrapper">
            <ul>
                <li>
                    <picture>
                        <source type="image/webp" srcset="/img/disciplena-cup.webp">
                        <img src="/img/disciplena-cup.jpg" alt="Точка Цвета" loading="lazy">
                    </picture>
                </li>
                <li>
                    <picture>
                        <source type="image/webp" srcset="/img/disciplena-stikers.webp">
                        <img src="/img/disciplena-stikers.jpg" alt="Точка Цвета" loading="lazy">
                    </picture>
                </li>
            </ul>
        </div>
        <div class="project__text-wrapper">
            <p class="project__text" >Яркая цветовая палитра связывает бренд с&nbsp;культурой <nobr>80-х</nobr> и&nbsp;<nobr>90-х</nobr> годов, когда плёночный фотоаппарат был в&nbsp;каждом доме. Сегодня плёночная фотография переживает ренессанс: выросло целое поколение, которое никогда не&nbsp;держало в&nbsp;руках плёночный фотоаппарат, люди постарше сдувают пыль со&nbsp;своих ФЭДов и&nbsp;Зенитов и&nbsp;снова начинают снимать на&nbsp;плёнку. Плёнка стала мостиком между поколениями, и&nbsp;логотип отлично работает как на&nbsp;молодую, так и&nbsp;на&nbsp;более взрослую аудиторию.</p>
        </div>
        <div class="project__picture">
            <picture>
                <source type="image/webp" srcset="/img/tochka-cveta-box.webp">
                <img src="/img/tochka-cveta-box.jpg" alt="Точка Цвета" loading="lazy">
            </picture>
        </div>
        <div class="project__text-wrapper">
            <p class="project__text" >Снимая на&nbsp;плёнку, никогда нельзя быть уверенным в&nbsp;результате. Пока не&nbsp;проявишь, не&nbsp;узнаешь, что получилось. Но&nbsp;даже <nobr>какие-то</nobr> недостатки: засветы, зернистость, царапины&nbsp;&mdash; не&nbsp;портят, а&nbsp;наоборот, добавляют шарма и&nbsp;атмосферности. Новый логотип &laquo;Точки цвета&raquo; очень точно отражает суть работы с&nbsp;плёнкой: он&nbsp;живой, настоящий и&nbsp;тёплый, как кадры на&nbsp;старый &laquo;Зенит&raquo;.</p>
        </div>
        <div class="project__large-picture">
            <picture>
                <source type="image/webp" srcset="/img/tochka-cveta-box.webp">
                <img src="/img/tochka-cveta-box.jpg" alt="Точка Цвета" loading="lazy">
            </picture>
        </div>
        <div class="project-footer">
            <ul class="project-footer__team">
                <li>
                    <p class="project-footer__team-position">худрук</p>
                    <p class="project-footer__team-name">Евгений Лепёхин</p>
                </li>
                <li>
                    <p class="project-footer__team-position">арт-директор</p>
                    <p class="project-footer__team-name">Артём Скворцов</p>
                </li>
                <li>
                    <p class="project-footer__team-position">дизайнер</p>
                    <p class="project-footer__team-name">Кира Шкарун</p>
                </li>
                <li>
                    <p class="project-footer__team-position">менеджер</p>
                    <p class="project-footer__team-name">Александра Гаренко</p>
                </li>
                <li class="project-footer__description">
                    <p>Огромная благодарность Максиму Воробьёву, директору по развитию фотолаборатории «Точки цвета», за помощь в поиске идей и безумное желание сделать хороший продукт.</p>
                </li>
            </ul>
            <div class="project-footer__data-wrapper">
                <p class="project-footer__data-title">дата выпуска</p>
                <p class="project-footer__data">18 ноября 2021</p>
            </div>
        </div>
    </section>
    
    <section class="similar-projects main-projects wrapper">
        <div class="similar-projects__wrapper">
            <h2 class="similar-projects__title title">Похожие проекты</h2>
            <ul class="similar-projects__list main-projects__list">
                {% for item in projects.items %}
                <li class="main-projects__item">
                  <a class="main-projects__link" href="{{item.link}}">
                      <div class="main-projects__picture-wrapper">
                        <picture>
                            <source type="image/webp" srcset="/{{ item.imgWebp | url }}">
                            <img src="/{{ item.img | url }}" class="main-projects__picture" width="680" height="510" alt="{{item.title}}" loading="lazy">
                        </picture>
                      </div>
                    <div class="main-projects__description-wrapper">
                        <h3 class="main-projects__title">{{item.title}}</h3>
                        {% if item.description %}
                        <p class="main-projects__description">{{item.description}}</p>
                        {% endif %}
                    </div>
                  </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>